.text-c.odd{
    border-bottom: 1px solid #ccc;
}
.shiting button{
    width: 50px;
    height: 20px;
    line-height: 22px;
    outline: none;
}
.shiting button:nth-of-type(1){
    position: relative;
    left: 4px;
}
.shiting button.open{
    background: rgba(33,100,243,1);
    color: #fff;
}


.tanchuang{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    display: none;
}
.tanchuang .nr{
    width: 30%;
    height: 140px;
    background: #f2f2f2;
    margin: 15% auto;
    box-shadow: 2px 3px 10px #222;
    border-radius: 10px;
}
.clod{
    font-size: 30px;
    font-weight: 800;
    margin-right: 20px;
    margin-top: -10px;
    cursor: pointer;
}
.clod:hover{
    color: dodgerblue;
}

.tanchuang .nr h3{
    text-align: center;
    margin-top: 0px;
}
.music input{
    width: 260px;
    height: 26px;
    padding: 0;
}
.music select{
    width: 260px;
    height: 28px;
    padding: 0;
    position: relative;
    left: -4px;
}
.music label{
    width: 90px;
    display: inline-block;
    text-align: right;
}
.shangchuan{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9990;
    display: none;
}
.shangchuan .nr{
    width: 45%;
    margin: 10% auto;
    background: #fff;
    min-height: 600px;
    box-shadow: 2px 2px 10px #333;
    padding: 30px;
    position: relative;
}
.shangchuan .nr .cols{
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 38px;
    cursor: pointer;
}
.shangchuan .nr .xuanze button{
    width: 100px;
    height: 30px;
    background: rgba(33,100,243,1);
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
    position: relative;
}
.shangchuan .top{
    width: 100%;
    clear: both;
    height: 50px;
    border-bottom: 1px solid #ccc;
}
.shangchuan .top p{
    width: 50%;
    float: left;
}
.shangchuan .wenjian{
    margin-top: 10px;
    border: 1px dashed #ccc;
    padding:10px 20px;
    max-height: 400px;
    overflow-y: scroll;
}
.shangchuan .wenjian .weixuanze{
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 18px;
    color: #333;
    /*display: none;*/
}
.shangchuan ul{
    width: 100%;
}
.shangchuan ul li{
    width: 100%;
    clear: both;
    line-height: 45px;
    border-bottom: 1px dashed #ccc;
}
.shangchuan ul li p{
    width: 50%;
    float: left;
}
.shangchuan .music img{
    width: 120px;
    height: 120px;
}
.shangchuan .music.img label{
    position: relative;
    top: -35px;
}
.shangchuan ul li .xiala{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.shangchuan ul li .xiala i{
    font-size: 23px;
    font-weight: 800;
    margin-right: 10px;
    position: relative;
    top: 10px;
    cursor: pointer;
    float: left;
}
.shangchuan ul li .xiala span{
    float: left;
}
.shangchuan ul li .xiala i.fa-angle-down{
    display: block;
}
.shangchuan ul li .xiala i.fa-angle-up{
    display: none;
}
.shangchuan ul li:nth-of-type(1) .xiala{
    margin-bottom: -14px;
}
.shangchuan ul li .xiala button{
    /*display: none;*/
    float: right;
    line-height: 45px;
    margin-right: 20px;
    font-size: 12px;
    color: blue;
    background: none;
    outline: none;
}

/*.shangchuan ul li div{*/
    /*height: 0;*/
    /*overflow: hidden;*/
    /*transition: height 0.6s;*/
/*}*/

.but{
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.but button{
    width: 110px;
    height: 30px;
    line-height: 30px;
    background: rgba(33,150,243,1);
    color: #fff;
    font-size: 14px;
}
.but button:nth-of-type(1):hover{
    background: rgba(33,100,243,1);
}
.but button:nth-of-type(2){
    background: rgb(230,0,0);
}
.but button:nth-of-type(2):hover{
    background: rgb(200,0,0);
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    z-index: 9991;
    display: none;
}
.loading img{
    margin-top: 20%;
}


#Modal-window option{
    font-size: 16px;
}



.dingdan input{
    padding: 0;
}

#PageCodeTails{
    margin-left: 45%;
}
#PageCodeTails a{
    padding:5px 10px;
    border: 1px solid #ccc;
    float: left;
    background: #fff;
}
#PageCodeTails span{
    float: left;
    padding:5px 10px;
    border: 1px solid #ccc;
    background: #fff;
}

#Selectfile input{
    width: 100px;
    height: 30px;
}
#Selectfile div[style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; overflow: hidden;"]{
    width: 100px!important;
    height: 30px!important;
}
/*.ProgressBar{*/
    /*width: 0%;height: 10px;background: #ddd;border-radius: 5px;*/
/*}*/


.progressbar {
    height: 10px;
    width: 100%;
    border: 1px solid #63B8FF;
    border-radius: 5px;
    position: relative;
    top: -5px;
}

.progress {
    height: 100%;
    width: 0;
    background: #BFEFFF;
    border-radius: 5px;
}

.progress {
    background-size: 30px 30px;
    background-image: -webkit-linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
    background-image: -moz-linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
    background-image: linear-gradient(-45deg, #63B8FF, #63B8FF 25%, #BFEFFF 25%, #BFEFFF 50%, #63B8FF 50%, #63B8FF 75%, #BFEFFF 75%, #BFEFFF);
    -webkit-animation: animate 1.5s linear infinite;
    -moz-animation: animate 1.5s linear infinite;
    animation: animate 1.5s linear infinite;
}

@-webkit-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

@-moz-keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}